global: &global
  adapter:   mysql2
  encoding:  utf8
  reconnect: false
  pool:      5
  # host:      localhost
  socket:    /var/run/mysqld/mysqld.sock
  username:  sinatra
  password:  sinatra


development:
  <<      :  *global
  database:  sinatra_development

test:
  <<      :  *global
  database:  sinatra_test

production:
  <<      :  *global
  database:  sinatra_production
